// tags
.tag-python{background-color: #048243;}
.tag-javascript{background-color: #247AFD;}
.tag-deno{background-color: #0CB577;}
.tag-regex{background-color: #6C3461;}
.tag-challenge{background-color: #F5054F;}

// reading progress
progress::-webkit-progress-value { background: #9900FA; }
progress::-moz-progress-bar { background: #9900FA; }