// tags
.tag-python {
  background-color: #048243;
}
.tag-javascript {
  background-color: #247afd;
}
.tag-deno {
  background-color: #0cb577;
}
.tag-regex {
  background-color: #6c3461;
}
.tag-challenge {
  background-color: #f5054f;
}

// reading progress
progress::-webkit-progress-value {
  background: #FCB005;
}
progress::-moz-progress-bar {
  background: #FCB005;
}
